// reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
input {
  outline: none;
}
span {
  display: inline-block;
}

// font
.font-20 {
  font-size: 20px;
}
.font-30 {
  font-size: 30px;
}
.font-40 {
  font-size: 40px;
}
.font-60 {
  font-size: 60px;
}

// global
.hmiddle {
  position: relative;
  float: left;
  left: 50%;
  transform: translateX(-50%);
}
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
a {
  color: #cca9c5;
  &:active {
    color: #cca9c5;
  }
  &:hover {
    color: #ad73a1;
  }
}
.pointer {
  cursor: pointer;
}
.icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.icon_big {
  width: 100px;
  height: 100px;
}
.mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.1;
  z-index: 1;
}
.pop {
  z-index: 10;
  position: absolute;
  background-color: #f7f7f7;
  width: 300px;
  height: 100px;
  padding: 30px 20px;
  text-align: center;
  border-radius: 8px;
}
.pop-msg {
  margin-bottom: 10px;
}

// app
.app-bg {
  background-color: #f9fbf2;
  height: 100vh;
  padding: 20vh 0;
}
.app-title {
  text-align: center;
  color: #a05e93;
  margin-bottom: 10vh;
}

//list
.list-bg {
  background-color: #f9fbf2;
  height: 100vh;
  padding: 5vh 0;
}
.list-back {
  margin-left: 5vh;
}
.todolist {
  width: 520px;
  margin: 15px auto;
  margin-top: 10vh;
}
.todo {
  height: 50px;
  padding: 0 10px;
  margin-bottom: 15px;
  span {
    float: left;
  }
}
.todo-label {
  background-color: #dbe7b1;
  width: 400px;
  padding-left: 10px;
  line-height: 50px;
  border-radius: 8px;
  overflow-y: auto;
  &.todo-label_err {
    background-color: #e55f9b;
  }
}
.add {
  margin: 0 auto;
}
.add-input {
  background-color: transparent;
  width: 280px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
}
.add-btn {
  width: 100%;
  text-align: center;
}
.add-pop {
  float: right;
}